name: Tests

on:
  push:
    branches: ["main", "dev"]
  pull_request:
    branches: ["main", "dev"]
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      PRIVATE_KEY: "0x0fd6767c661a6a144a78cce98bf64aab13c48bd7fc595f80ca7148cf58688cca" # random private key
      ADDRESS: "0xbAd15e99f9A94DbF931Ae788e10eA8350025b18a" # random address
      ENVIRONMENT: dev
    steps:
      - uses: actions/checkout@v3
      - name: Install Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - name: Install Dependencies
        run: bun install
      - run: bun test